@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Space+Mono&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

#logo {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 5rem;
    background-color: black;
}

#stack {
    font-size: 4rem;
    font-weight: 600;
    color: white;
    margin-left: 5.5rem;
    text-shadow: 0px 4px 30px #C4BFCD;
}

h5,
.about p:nth-child(4) {
    color: #9F9FA1;
}

#openbtn {
    margin-left: 7rem;
}

button {
    height: 2rem;
    font-weight: 700;
    font-size: 1rem;
}

#links {
    display: none;
    flex-direction: column;
    text-align: right;
}

.about p:nth-child(3) {
    font-size: 2rem;
    font-weight: 700;
}

.about p,
#profile_picture img {
    margin-left: 3rem;
}

.more_about {
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-around;
}

.more_about p:nth-child(1) {
    width: 5rem;
}

.more_about p:last-child {
    width: 17rem;
}

#profile_picture {
    background-color: #E0AFA0;
}

#profile_picture img {
    width: 250px;
}

#desktop_profile_picture {
    display: none;
}

footer {
    margin-top: 2rem;
    text-align: center;
}

span {
    font-weight: 600;
}

@media only screen and (min-width: 1024px) {
    main {
        display: flex;
        height: 100vh;
    }
    #logo {
        width: 3.5rem;
        height: 8rem;
    }
    #logo img {
        margin: auto;
    }
    #stack {
        font-size: 6rem;
        font-weight: 700;
    }
    #navbtn {
        position: absolute;
        right: 5rem;
        top: 2.5rem;
    }
    h5 {
        font-size: 2rem;
    }
    .about p:nth-child(3) {
        font-size: 4.2rem;
        font-weight: 800;
    }
    .about p:nth-child(4) {
        font-size: 2.5rem;
    }
    .more_about {
        margin-top: 20rem;
        font-size: 2rem;
        justify-content: space-around;
        position: relative;
        left: 3rem;
    }
    .more_about p:nth-child(1) {
        width: fit-content;
    }
    .more_about p:last-child {
        width: 80%;
    }
    #profile_picture {
        display: none;
    }
    #desktop_profile_picture {
        display: block;
        background-color: #E0AFA0;
        width: 50vw;
    }
    #desktop_profile_picture img {
        width: 100%;
    }
}