@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto+Mono&family=Space+Mono&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #141627;
    font-family: 'Roboto Mono', monospace;
}

main {
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid #33393d;
}

nav {
    position: absolute;
    right: .5rem;
}

nav span:first-child {
    display: flex;
    justify-content: flex-end;
}

#links {
    display: none;
    flex-direction: column;
    text-align: right;
}

#navbar h4 {
    margin-top: 0;
}

.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.theme>div {
    height: 3vh;
    width: 15vw;
    margin: 0;
    border-radius: 15px;
    background-color: #33393d;
}

.mode {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    background-color: #b44545;
}

.focused_text {
    color: #FE4370;
}

section:not(:first-child) {
    padding-left: 1.5rem;
}

section:not(:first-child,
 :nth-child(2)) {
    height: 60vh;
    padding-top: 1.5rem;
}

section:nth-child(2) {
    background-color: #141627;
}

section:nth-child(3),
section:nth-child(5),
footer {
    background-color: #1B1E32;
}

.dash {
    margin-right: .5rem;
    color: #FE4370;
}

#about_buttons button:last-child {
    margin-left: 2rem;
    background-color: #1B1E32;
}

#about_buttons button:last-child a {
    text-decoration: none;
}

#project_section {
    height: 130vh;
}

#project_avatar img {
    width: 200px;
    height: 300px;
}

#next_prev_buttons i:last-child {
    margin-left: 4.5rem;
    margin-top: 1rem;
}

button {
    color: white;
    background-color: #FE4370;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

button:active {
    box-shadow: 0 5px 8px #1B1E32;
    transform: translateY(3px);
}

a {
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 20vw;
    margin-top: 0;
}

#media_section span {
    display: flex;
}

footer {
    /* margin-top: 1.5rem; */
    text-align: center;
}

@media only screen and (min-width: 1021px) {
    body {
        font-size: 2.5rem;
    }
    button {
        width: 25vw;
        height: 7vh;
        font-size: 2rem;
    }
    .theme>div {
        height: 4vh;
        width: 5vw;
    }
    .mode {
        width: .5em;
        height: .5em;
    }
    #about_section {
        display: flex;
        justify-content: space-around;
    }
    #contact_section,
    #about_section,
    #project_section,
    #media_section {
        height: fit-content;
    }
    #about_section img {
        width: 350px;
        height: 400px;
    }
    #project_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10rem;
    }
    #project_details {
        height: 20rem;
    }
    #project_avatar img {
        width: 400px;
        height: 450px;
    }
    #next_prev_buttons i:last-child {
        margin-left: 18rem;
        margin-top: 2rem;
    }
}